* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(#1354A5 0%, #041832 33.33%, #041832 66.67%, #01080E 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white
}


body::before {
    background: url("img/code.png") no-repeat right;
    content: "";
    display: block;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    pointer-events: none;
    z-index:0;
}

.container {
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 24px;
    border: 1px solid #1875E8;
    box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.15);
    background-image: url("img/Ruido.png");
    background-size: 100% 100%;
    position: relative;
    z-index:1;
}


.container__conteudo {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.maximo {
    margin-bottom: 2rem;
}

.maximo__grupo {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 0.5rem;
}

/* Melhor ajuste do input */
.container__input2 {
    width: 140px; /* valor fixo controlado */
    height: 56px;
    border-radius: 16px;
    background-color: #FFF;
    border: none;
    color: #1875E8;
    padding: 2rem;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

.botao--auto {
    border-radius: 16px;
    padding: 25px;
    background: #1875E8;
    font-size: 24px;
    font-weight: 700;
    width: auto;
    border: none;
    height: 65px;
    padding: 0 2rem;
    margin-top: 0;
    color: #fdfdfd;
}
    
.container__informacoes {
    flex: 1;
    padding: 3rem;
}

.container__botao:not(.botao--auto){
    border-radius: 16px;
    background: #1875E8;
    padding: 16px 24px;
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    border: none;
    margin-top: 2rem;
    transition: 0.3s ease;
    cursor: pointer;
}

.container__botao:hover {
    filter: brightness(1.1);
    transform: translateY(-2px);
}

.container__texto {
    margin: 16px 0 16px 0;
}

.container__texto-azul {
    color: #1875E8;
}

.container__input {
    width: 100%;
    height: 72px;
    border-radius: 16px;
    background-color: #FFF;
    border: none;
    color: #1875E8;
    padding: 2rem;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

.container__botoes {
    display: flex;
    gap: 2em;
}

label {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 72px;
    padding-bottom: 3rem;
}

h1 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 72px;
    padding-bottom: 3rem;
}

p,
button {
    font-family: 'Inter', sans-serif;
}

.texto__paragrafo {
    font-size: 32px;
    font-weight: 400;
}

.texto__Cima {
    font-size: 32px;
    font-weight: 400;
}

button:disabled {
    background-color: gray;
}

@media screen and (max-width: 1250px) {

    h1 {
        font-size: 50px;
    }

    .container__botao {
        font-size: 16px;
    }


    .texto__paragrafo {
        font-size: 24px;
    }

    .container__imagem-pessoa {
        display: none;
    }

    .container__conteudo {
        display: block;
        position: inherit;
    }

    .container__informacoes {
        padding: 1rem
    }
}